<%= form_with(model: @task, local: true, url: choose_new_or_edit) do |form| %>
<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %><%= t('errors.messages.error_number') %></h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">タスクの作成</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group task_new">
          <label class="col-md-3 control-label"><%= t('attributes.task.task_name') %></label>
          <div class="col-md-9 new_form">
            <%= form.text_field :task_name, class:"form-control", type:"string" %>
          </div>
        </div>
        <div class="form-group task_new">
          <label class="col-md-3 control-label"><%= t('attributes.task.detail') %></label>
          <div class="col-md-9 new_form">
            <%= form.text_field :detail, class:"form-control", type:"text" %>
          </div>
        </div>
        <div class="form-group task_new">
          <label class="col-md-3 control-label"><%= t('attributes.task.deadline') %></label>
          <div class="col-md-9 new_form">
            <%= form.date_field :deadline %>
          </div>
        </div>

        <div class="form-group task_new">
          <label class="col-md-3 control-label"><%= t('attributes.task.status') %></label>
          <div class="col-md-9 new_form">
            <%= form.select :status, [["未着手","未着手"],["着手中","着手中"],["完了","完了"]], include_blank: "選択して下さい" %>
          </div>
        </div>
        <div class="form-group task_new">
          <label class="col-md-3 control-label"><%= t('attributes.task.priority') %></label>
          <div class="col-md-9 new_form">
            <%= form.select :priority, Task.priorities.keys.to_a, include_blank: "選択して下さい" %>
          </div>
        </div>

        <% Label.all.each do |label| %>
          <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
          <%= label.name %>
        <% end %>

      </form>
        <div class="form-group task_new">
          <div class="col-md-12">
            <%= form.submit %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
  <%= link_to t('attributes.task.backto_index'), tasks_path %>
</div>
