<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><%= t('attributes.task.Please Confirm') %></div>
    <div class="panel-body">
        <div class="row showpage_item">
          <%= form_with(model: @task, local: true) do |form| %>
          <label class="col-md-5 showpage_label">
            <%= form.hidden_field :task_name %>
            <%= t('attributes.task.task_name') %>
          </label>
          <div class="col-md-6 offset-md-1 showpage_content">
            <%= @task.task_name %>
          </div>
        </div>
        <div class="row showpage_item">
          <label class="col-md-5 showpage_label">
            <%= form.hidden_field :detail %>
            <%= t('attributes.task.detail') %>
          </label>
          <div class="col-md-6 offset-md-1 showpage_content">
            <%= @task.detail %>
          </div>
        </div>
        <div class="row showpage_item">
          <label class="col-md-5 showpage_label">
            <%= form.hidden_field :deadline %>
            <%= t('attributes.task.deadline') %>
          </label>
          <div class="col-md-6 offset-md-1 showpage_content">
            <%= @task.deadline %>
          </div>
        </div>
        <div class="row showpage_item">
          <label class="col-md-5 showpage_label">
            <%= form.hidden_field :status %>
            <%= t('attributes.task.status') %>
          </label>
          <div class="col-md-6 offset-md-1 showpage_content">
            <%= @task.status %>
          </div>
        </div>
        <div class="row showpage_item">
          <label class="col-md-5 showpage_label">
            <%= form.hidden_field :priority %>
            <%= t('attributes.task.priority') %>
          </label>
          <div class="col-md-6 offset-md-1 showpage_content">
            <%= @task.priority %>
          </div>
          <% @labels.each do |label| %>
            <%= form.hidden_field :label_ids %>
            <%= label.name %>
          <% end %>

        </div>
        <%= form.submit t('attributes.task.submit') %>
        <%= form.submit t('attributes.task.back'), name: "back" %>
      <% end %>
    </div>
  </div>
</div>
