<%= notice %>
<table>
  <tr>
    <th><%= t('attributes.task.task_name') %></th>
    <th><%= t('attributes.task.detail') %></th>
    <th><%= t('attributes.task.deadline') %></th>
    <th><%= t('attributes.task.status') %></th>
    <th><%= t('attributes.task.priority') %></th>
  </tr>
<% @tasks.each do |task| %>
  <tr class = "task_row">
    <td><%= task.task_name %></td>
    <td><%= task.detail %></td>
    <td><%= task.deadline %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to t('attributes.task.detail_page'), task_path(task.id) %></td>
    <td><%= link_to t('attributes.task.edit_page'), edit_task_path(task.id) %></td>
    <td><%= link_to t('attributes.task.delete'), task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
</br>
<%= link_to t('attributes.task.Sort by Deadline'), tasks_path(sort_deadline: "true") %>
<%= link_to t('attributes.task.create_task'), new_task_path %>
