<h1><%= t('attributes.task.Task Detail')%></h1>
<p><%= t('attributes.task.task_name')%><%= @task.task_name %></p>
<p><%= t('attributes.task.detail')%><%= @task.detail %></p>
<p><%= t('attributes.task.deadline')%><%= @task.deadline %></p>
<p><%= t('attributes.task.status')%><%= @task.status %></p>
<p><%= t('attributes.task.priority')%><%= @task.priority %></p>
