<h1>ユーザー詳細画面</h1>
<p>ユーザー名: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<p>このユーザーの投稿:</p>

<table class="container">
  <tr class="row">
    <th class="col-md-2 offset-md-5 index_items">タスク名</th>
    <th class="col-md-2 index_items">詳細</th>
    <th class="col-md-1 index_items">期限</th>
    <th class="col-md-1 index_items">状況</th>
    <th class="col-md-1 index_items">優先度</th>
  </tr>
  <% @user_tasks.each do |user| %>
    <% user.tasks.each do |user_task| %>
  <tr class="row task_row">
    <td class="col-md-2 offset-md-5 index_items"><%= user_task.task_name %></td>
    <td class="col-md-2 index_items"><%= user_task.detail %></td>
    <td class="col-md-1 index_items"><%= user_task.deadline %></td>
    <td class="col-md-1 index_items"><%= user_task.status %></td>
    <td class="col-md-1 index_items"><%= user_task.priority %></td>
      <% end %>
    <% end %>
  </tr>
</table>
